<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Hello, world!</title>
  </head>
  <body>
    <div class="container">
      <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="font-weight-bold mt-5 mb-3 text-center">Interview test MOLOG</h2>
      </div>
      <div class="col-lg-12">
          <div class="card shadow mb-4" style="color: #fff;background-color:#DF0EF0;">
          <div class="card-body">
              <div class="well text-center" style=" height:100px; overflow-y:scroll;width:100%;">
                <h2>ติดเชื้อสะสม</h2>
                <h4>254,515</h4>
                <h6>[+4,662]</h6>
              </div>
          </div>
          </div>
      </div>
          <div class="col-lg-4 text-center">
            <div class="card shadow mb-4" style="color: #fff;background-color:#327106;">
            <div class="card-body">
                <div class="well" style=" height:100px; overflow-y:scroll;width:100%;">
                  <h2>หายแล้ว</h2>
                  <h4>205,064</h4>
                  <h6>[+2,793]</h6>
                </div>
            </div>
            </div>
        </div>
        <div class="col-lg-4 text-center">
          <div class="card shadow mb-4" style="color: #fff;background-color:#4BB005;">
          <div class="card-body">
              <div class="well" style=" height:100px; overflow-y:scroll;width:100%;">
                <h3>รักษาอยู่ใน รพ.</h3>
                <h4>47,481</h4>
              </div>
          </div>
          </div>
      </div>
      <div class="col-lg-4 text-center">
        <div class="card shadow mb-4" style="color: #fff;background-color: #8A8E88;">
        <div class="card-body">
            <div class="well" style=" height:100px; overflow-y:scroll;width:100%;">
                <h2>เสียชีวิต</h2>
                <h4>1970</h4>
                <h6>[+36]</h6>
            </div>
        </div>
        </div>
      </div>
      
    </div>
    </div>
  </body>
</html>
 